.listCarousel {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
}

.listGrid {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}