.container {
    max-width: 1400px;
    padding: 2rem 9rem 0rem 9rem;
    display: flex;
    flex-direction: row;
}

.content {
    padding: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.footer {
    padding: 2rem 9rem 0rem 9rem;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.poster {
    display: block;
    min-width: 300px;
    width: 300px;
    height: 450px;
}

.infoText {
    margin-top: -1.3em;
    font-size: 13px;
}

.overviewText {
    margin-top: -.5em;
}