.card {
    min-width: 180px;
    max-width: 180px;
    padding: .15em .5em .5em 0;
}

.content {
    max-width: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.cardTitleText {
    margin: 0 auto;
    font-size: .90rem;
    font-weight: 700;
}

.poster {
    margin: 0 auto;
    height: 170px;
    width: 130px;
    min-width: 100px;
}